In [16]:
import numpy as np
import pandas as pd

In [18]:
def t(x):
    print("--------------------------------------------------------------------------------------------------------")
    print(x)
    print("--------------------------------------------------------------------------------------------------------")    
    return(None)

In [19]:
t("Start of the tutorial")

--------------------------------------------------------------------------------------------------------
Start of the tutorial
--------------------------------------------------------------------------------------------------------

In [21]:
t("Manual entering of data into a data frame")
df=pd.DataFrame([["Akshar",20,"VIT","Vizag"],["Hari",22,"VIT","Hyderabad"],["Vishal",20,"SFU","Vancouver"]],columns=["Name","Age","College name","Country"],index=[1,2,3])
print(df)

--------------------------------------------------------------------------------------------------------
Manual entering of data into a data frame
--------------------------------------------------------------------------------------------------------
     Name  Age College name    Country
1  Akshar   20          VIT      Vizag
2    Hari   22          VIT  Hyderabad
3  Vishal   20          SFU  Vancouver

In [22]:
t("importing a text file")
filename="fremont_weather.txt"
df=pd.read_csv(filename)
print(df)

--------------------------------------------------------------------------------------------------------
importing a text file
--------------------------------------------------------------------------------------------------------
   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.48
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [23]:
t("How to view glimpses of the data file")
t("Top 5")
print(df.head())
t("Bottom 5")
print(df.tail())

--------------------------------------------------------------------------------------------------------
How to view glimpses of the data file
--------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------
Top 5
--------------------------------------------------------------------------------------------------------
  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan        58       42           74          22               2.95
1   Feb        61       45           78          26               3.02
2   Mar        65       48           84          25               2.34
3   Apr        67       50           92          28               1.02
4   May        71       53           98          35               0.48
--------------------------------------------------------------------------------------------------------
Bottom 5
--------------------------------------------------------------------------------------------------------
   month  avg_high  avg_low  record_high  record_low  avg_precipitation
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [30]:
t("How to access data types, indices , column names and values")
t("Data Types")
print(df.dtypes)
t("indices")
print(df.index)
t("Column names")
print(df.columns)
t("values")
print(df.values)

--------------------------------------------------------------------------------------------------------
How to access data types, indices , column names and values
--------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------
Data Types
--------------------------------------------------------------------------------------------------------
month                 object
avg_high               int64
avg_low                int64
record_high            int64
record_low             int64
avg_precipitation    float64
dtype: object
--------------------------------------------------------------------------------------------------------
indices
--------------------------------------------------------------------------------------------------------
RangeIndex(start=0, stop=12, step=1)
--------------------------------------------------------------------------------------------------------
Column names
--------------------------------------------------------------------------------------------------------
Index(['month', 'avg_high', 'avg_low', 'record_high', 'record_low',
       'avg_precipitation'],
      dtype='object')
--------------------------------------------------------------------------------------------------------
values
--------------------------------------------------------------------------------------------------------
[['Jan' 58 42 74 22 2.95]
 ['Feb' 61 45 78 26 3.02]
 ['Mar' 65 48 84 25 2.34]
 ['Apr' 67 50 92 28 1.02]
 ['May' 71 53 98 35 0.48]
 ['Jun' 75 56 107 41 0.11]
 ['Jul' 77 58 105 44 0.0]
 ['Aug' 77 59 102 43 0.03]
 ['Sep' 77 57 103 40 0.17]
 ['Oct' 73 54 96 34 0.81]
 ['Nov' 64 48 84 30 1.7]
 ['Dec' 58 42 73 21 2.56]]

In [33]:
t("statistical summary")
print(df.describe())

--------------------------------------------------------------------------------------------------------
statistical summary
--------------------------------------------------------------------------------------------------------
        avg_high    avg_low  record_high  record_low  avg_precipitation
count  12.000000  12.000000    12.000000   12.000000          12.000000
mean   68.583333  51.000000    91.333333   32.416667           1.265833
std     7.366488   6.060303    12.323911    8.240238           1.186396
min    58.000000  42.000000    73.000000   21.000000           0.000000
25%    63.250000  47.250000    82.500000   25.750000           0.155000
50%    69.000000  51.500000    94.000000   32.000000           0.915000
75%    75.500000  56.250000   102.250000   40.250000           2.395000
max    77.000000  59.000000   107.000000   44.000000           3.020000

In [34]:
t("Sorting the data frame eith relative to a column")
sorted_df=df.sort_values('avg_high',ascending=False)
print(sorted_df)

--------------------------------------------------------------------------------------------------------
Sorting the data frame eith relative to a column
--------------------------------------------------------------------------------------------------------
   month  avg_high  avg_low  record_high  record_low  avg_precipitation
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
5    Jun        75       56          107          41               0.11
9    Oct        73       54           96          34               0.81
4    May        71       53           98          35               0.48
3    Apr        67       50           92          28               1.02
2    Mar        65       48           84          25               2.34
10   Nov        64       48           84          30               1.70
1    Feb        61       45           78          26               3.02
0    Jan        58       42           74          22               2.95
11   Dec        58       42           73          21               2.56

In [41]:
t("Different ways to slice the data")
print(df.avg_high)
print(df['avg_high'])
print(df.loc[:,['avg_high']])
print(df.iloc[:,:])

--------------------------------------------------------------------------------------------------------
Different ways to slice the data
--------------------------------------------------------------------------------------------------------
0     58
1     61
2     65
3     67
4     71
5     75
6     77
7     77
8     77
9     73
10    64
11    58
Name: avg_high, dtype: int64
0     58
1     61
2     65
3     67
4     71
5     75
6     77
7     77
8     77
9     73
10    64
11    58
Name: avg_high, dtype: int64
    avg_high
0         58
1         61
2         65
3         67
4         71
5         75
6         77
7         77
8         77
9         73
10        64
11        58
   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.48
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [46]:
t("Filtering the data")
t("1st method")
print(df[df["avg_high"]>65])
t('2nd method')
print(df[df['month'].isin(["Jan","Aug","Mar"])])

--------------------------------------------------------------------------------------------------------
Filtering the data
--------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------
1st method
--------------------------------------------------------------------------------------------------------
  month  avg_high  avg_low  record_high  record_low  avg_precipitation
3   Apr        67       50           92          28               1.02
4   May        71       53           98          35               0.48
5   Jun        75       56          107          41               0.11
6   Jul        77       58          105          44               0.00
7   Aug        77       59          102          43               0.03
8   Sep        77       57          103          40               0.17
9   Oct        73       54           96          34               0.81
--------------------------------------------------------------------------------------------------------
2nd method
--------------------------------------------------------------------------------------------------------
  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan        58       42           74          22               2.95
2   Mar        65       48           84          25               2.34
7   Aug        77       59          102          43               0.03

In [56]:
t("Assignment/ Asssigning values")
df.loc[2,['avg_high']]=57
print(df.head())
df.loc[2,['record_high']]=np.nan
print(df.head())
df['avg_day']=(df['avg_high']+df['avg_low'])//2
print(df.head())

--------------------------------------------------------------------------------------------------------
Assignment/ Asssigning values
--------------------------------------------------------------------------------------------------------
  month  avg_high  avg_low  record_high  record_low  avg_precipitation  \
0   Jan        58       42         74.0          22               2.95
1   Feb        61       45         78.0          26               3.02
2   Mar        57       48          NaN          25               2.34
3   Apr        67       50         92.0          28               1.02
4   May        71       53         98.0          35               0.48

   avg_day
0     50.0
1     53.0
2     52.5
3     58.5
4     62.0
  month  avg_high  avg_low  record_high  record_low  avg_precipitation  \
0   Jan        58       42         74.0          22               2.95
1   Feb        61       45         78.0          26               3.02
2   Mar        57       48          NaN          25               2.34
3   Apr        67       50         92.0          28               1.02
4   May        71       53         98.0          35               0.48

   avg_day
0     50.0
1     53.0
2     52.5
3     58.5
4     62.0
  month  avg_high  avg_low  record_high  record_low  avg_precipitation  \
0   Jan        58       42         74.0          22               2.95
1   Feb        61       45         78.0          26               3.02
2   Mar        57       48          NaN          25               2.34
3   Apr        67       50         92.0          28               1.02
4   May        71       53         98.0          35               0.48

   avg_day
0       50
1       53
2       52
3       58
4       62

In [65]:
t('Renaming columns')
t('1st method to rename only 1 column')
df.rename(columns = {'avg_precipitation':'avg_rain'}, inplace=True)	
print(df.head())
t('2nd method to change the whole column names')
df.columns=['month','avg_high','avg_low','recorded_highest','recorded_lowest','avg_precipitation','avg_day']
print(df.head())

--------------------------------------------------------------------------------------------------------
Renaming columns
--------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------
1st method to rename only 1 column
--------------------------------------------------------------------------------------------------------
  month  avg_high  avg_low  recorded_highest  recorded_lowest  avg_rain  \
0   Jan        58       42              74.0               22      2.95
1   Feb        61       45              78.0               26      3.02
2   Mar        57       48               NaN               25      2.34
3   Apr        67       50              92.0               28      1.02
4   May        71       53              98.0               35      0.48

   avg_day
0       50
1       53
2       52
3       58
4       62
--------------------------------------------------------------------------------------------------------
2nd method to change the whole column names
--------------------------------------------------------------------------------------------------------
  month  avg_high  avg_low  recorded_highest  recorded_lowest  \
0   Jan        58       42              74.0               22
1   Feb        61       45              78.0               26
2   Mar        57       48               NaN               25
3   Apr        67       50              92.0               28
4   May        71       53              98.0               35

   avg_precipitation  avg_day
0               2.95       50
1               3.02       53
2               2.34       52
3               1.02       58
4               0.48       62

In [71]:
t("Iterating through a DataFrame")
for index,rows in df.iterrows():
    print(index,rows['avg_high'])

--------------------------------------------------------------------------------------------------------
Iterating through a DataFrame
--------------------------------------------------------------------------------------------------------
0 58
1 61
2 57
3 67
4 71
5 75
6 77
7 77
8 77
9 73
10 64
11 58

In [72]:
#Dumping into a csv
df.to_csv("Data.csv")